.hotspot {
  background-color: rgba(0, 0, 0, 0);
}

.hotspot.correct {
  background-color: rgba(0, 255, 0, 0.4);
}

.hotspot.incorrect {
  background-color: rgba(255, 0, 0, 0.4);
}

button {
  padding: 6px 12px;
  font-size: 14px;
}
